# 1.0. Pandas - Первое знакомство

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

http://pandas.pydata.org/

Pandas - open-source  проект, предоставляющий средства для работы с данными в Питоне с использованием абстракций более высокого уровня, чем numpy.

В основе своей pandas полагается на структуры данных numpy, но вместе с тем предоставляет:

* различные типы данных в рамках одной структуры pandas.DataFrame;
* работу с пропущенными значениями;
* удобную работу с типом DateTime;
* набор методов для совместного использования нескольких массивов данных.

** Series **

Series - это массив размерности один, который может содержать данные различного типа, и 1:1 соответствие между данными и некоторой меткой, присвоенной каждому элементу.

In [2]:
series = pd.Series([-12, 'Nan', 1])

In [3]:
series.values

array([-12, 'Nan', 1], dtype=object)

In [4]:
series.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
series

0    -12
1    Nan
2      1
dtype: object

Мы можем создавать объекты, самостоятельно задавая индекс:

In [6]:
series2 = pd.Series([0,1,2], index=['a', 'b', 'c'])

Преимущества индексирования понятны - мы имеем быстрый доступ к элементам массива, при этом можем пользоваться всеми (практически) свойствами массивов numpy.

In [7]:
series[0]

-12

In [8]:
series[0:2]

0    -12
1    Nan
dtype: object

Обратите внимание:

In [9]:
series[range(2,4)]

2      1
3    NaN
dtype: object

In [10]:
series[range(2,5)]

2      1
3    NaN
4    NaN
dtype: object

но:

In [11]:
series[4]

KeyError: 4

Ну что поделать, open-software стак и не должен быть идеальным!

**Булево индексирование:**

In [12]:
series > 0

0    False
1     True
2     True
dtype: bool

In [13]:
series[series > 0]

1    Nan
2      1
dtype: object

In [14]:
2 in series

True

Конструктор принимет массив ранга один либо словарь. Ключи словаря используются как индекс (в отсортированном порядке):

In [15]:
pd.Series({'a':1, 'c':2, 'b':3})

a    1
b    3
c    2
dtype: int64

In [16]:
index = ['a_letter', 'b_letter', 'c_letter']

Если вызывается конструктор со словарем и парметром index = , то отсутствующие в словаре ключи получат NaN.

In [18]:
pd.Series({'a_letter':1, 'b_letter':2, 'c':3}, index=index)
pd.Series([1, 2, 3], [19, 29, 39])

19    1
29    2
39    3
dtype: int64

In [19]:
pd.Series([1, 2, 3], index=index)

a_letter    1
b_letter    2
c_letter    3
dtype: int64

Операции с Series напоминают операции с ndarray:

In [20]:
series

0    -12
1    Nan
2      1
dtype: object

In [21]:
series[1] = 100

In [23]:
series + series

0    -24
1    200
2      2
dtype: object

In [24]:
series * series

0      144
1    10000
2        1
dtype: object

Самому Series и индексу можно присовить атрибут имя:

In [25]:
series.name = 'some_test_series'

In [26]:
series

0    -12
1    100
2      1
Name: some_test_series, dtype: object

In [27]:
series.index.name = 'some_test_index'

In [28]:
series

some_test_index
0    -12
1    100
2      1
Name: some_test_series, dtype: object

In [29]:
series.index

RangeIndex(start=0, stop=3, step=1, name=u'some_test_index')

Важно помнить, как pandas обращается с несовпадающими индексами:

In [29]:
first_series = pd.Series({'a':1, 'b':2, 'c':2})
second_series = pd.Series({'a':1, 'b':2, 'd':-1})

In [30]:
first_series + second_series

a    2.0
b    4.0
c    NaN
d    NaN
dtype: float64

Индекс всегда можно поменять:

In [31]:
series

some_test_index
0    -12
1    100
2      1
Name: some_test_series, dtype: object

In [32]:
series.index = ['a_letter', 'b_letter', 'c_letter']

In [33]:
series

a_letter    -12
b_letter    100
c_letter      1
Name: some_test_series, dtype: object

In [34]:
series.loc['a_letter']

-12

In [35]:
series.a_letter

-12

In [37]:
series['a_letter']

-12

In [38]:
series.iloc[0:2]

a_letter    -12
b_letter    100
Name: some_test_series, dtype: object

# 1.1. Pandas DataFrame

Представим себе структуру, которая могла бы содержать несколько объекто типа Series, объединенных общим индексом. Тогда бы такая структура являлась pandas.DataFrame - табличным форматом данных, снабженным 2 типами индексов - строчным и колоночным.

In [51]:
df = pd.DataFrame({'A': [20, 10, 30], (1, 2, 3): np.random.randn(3),
                    'B':['A', 'B', 'C']}, index=['a', 'b', 'c'])

In [52]:
df

    A  B  (1, 2, 3)
a  20  A  -0.118395
b  10  B   2.171647
c  30  C   0.865547

Выбор столбца ниче не отличается от стандартного \_\_getitem\_\_ синтаксиса:

In [41]:
df['A']

a    20
b    10
c    30
Name: A, dtype: int64

In [42]:
df[['A', 'C']]

    A  C
a  20  A
b  10  B
c  30  C

In [43]:
df.A

a    20
b    10
c    30
Name: A, dtype: int64

Возможные аргументы для конструктора:

* массив ранга 2 (индексы для столбцов и строк передаются отдельным аргументом либо будет использован xrange);
* словарь массивов ранга 1 (ключ - имя стобца, данные - элементы последовательности);
* словарь объектов pd.Series;
* словарь словарей (ключи внутреннего словаря - имена столбцов), ключи внешнего словаря - индекс обеъкта;
* список словарей - имена столбцов - объединения ключей в словарях.

Выбор строки:

In [43]:
df.loc[['a', 'b']]

    A         B  C
a  20 -0.477218  A
b  10 -0.010327  B

In [44]:
df.loc['a':'с']

    A         B  C
a  20 -0.477218  A
b  10 -0.010327  B
c  30 -0.076072  C

--  N: Обратите внимание - slice подобного типа включает в себя крайний объект "справа".

In [45]:
df.iloc[0:2]

    A         B  C
a  20 -0.477218  A
b  10 -0.010327  B

--  N: А такой - не включает.

In [46]:
df.loc['a', 'B']

-0.47721813473414421

In [47]:
df.loc['a':'b', ['A', 'C']]

    A  C
a  20  A
b  10  B

** Операции с dataframe **

In [48]:
df

    A         B  C
a  20 -0.477218  A
b  10 -0.010327  B
c  30 -0.076072  C

In [49]:
df[['A', 'B']] + 5

    A         B
a  25  4.522782
b  15  4.989673
c  35  4.923928

In [50]:
df[['A', 'C']] + df[['A', 'C']]

    A   C
a  40  AA
b  20  BB
c  60  CC

Теперь внимание:

In [53]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [6, 2, 4], 'B': [9, 1, 4]}, index=[2, 0, 1])

In [54]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [55]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [56]:
df2

   A  B
2  6  9
0  2  1
1  4  4

In [57]:
df1 + df2

   A   B
0  3   5
1  6   9
2  9  15

Очень хорошо!

In [58]:
df3 = pd.DataFrame(np.random.randn(5, 3), columns=['A', 'B', 'C'])
df3

          A         B         C
0  1.947439 -1.190058 -0.406332
1 -0.227745 -0.109228  0.075618
2 -0.032993 -0.206648  0.593905
3  0.047704 -1.623126  1.239565
4 -0.736607 -0.934539  0.616595

In [59]:
df1 + df3

          A         B   C
0  2.947439  2.809942 NaN
1  1.772255  4.890772 NaN
2  2.967007  5.793352 NaN
3       NaN       NaN NaN
4       NaN       NaN NaN

После примера с Series - такое поведение как раз и ожидалось.

Тем не менее, бывают случаи, когда нам требуется чем - либо заполнить места, в которых индекс не пересекается. В таких случаях удобно использовать параметр fill_value.

In [60]:
df1.add(df3, fill_value=0)

          A         B         C
0  2.947439  2.809942 -0.406332
1  1.772255  4.890772  0.075618
2  2.967007  5.793352  0.593905
3  0.047704 -1.623126  1.239565
4 -0.736607 -0.934539  0.616595

Таких "гибких" арифметических операций 4:

* df.add;
* df.sub;
* df.div;
* df.mul.

Как наследие массива из numpy, мы можем использовать broadcasting:

In [61]:
df = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['U', 'O', 'T', 'Z'])

In [62]:
df

     b     d     e
U  0.0   1.0   2.0
O  3.0   4.0   5.0
T  6.0   7.0   8.0
Z  9.0  10.0  11.0

In [65]:
series = df.iloc[0]

In [66]:
series

b    0.0
d    1.0
e    2.0
Name: U, dtype: float64

In [67]:
df - series

     b    d    e
U  0.0  0.0  0.0
O  3.0  3.0  3.0
T  6.0  6.0  6.0
Z  9.0  9.0  9.0

Совпадение считается по индексу. Если индексы не совпадают, то операция будет использовать объединения индексов:

In [69]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

b    0
e    1
f    2
dtype: int64

In [70]:
df + series2

     b   d     e   f
U  0.0 NaN   3.0 NaN
O  3.0 NaN   6.0 NaN
T  6.0 NaN   9.0 NaN
Z  9.0 NaN  12.0 NaN

Если хочется broadcast по столбцам, то нужно использовать один из 4 методов, которые мы поисали ранее:

In [71]:
series3 = df['d']

In [72]:
df

     b     d     e
U  0.0   1.0   2.0
O  3.0   4.0   5.0
T  6.0   7.0   8.0
Z  9.0  10.0  11.0

In [67]:
series3

U     1.0
O     4.0
T     7.0
Z    10.0
Name: d, dtype: float64

In [73]:
df.sub(series3, axis=0)

     b    d    e
U -1.0  0.0  1.0
O -1.0  0.0  1.0
T -1.0  0.0  1.0
Z -1.0  0.0  1.0

# 1.2. Индексирование.

Для индекса pandas имеет отдельный тип объекта - index object. Это immutable тип данных.

In [74]:
s1 = pd.Series(xrange(3), index=['a', 'b', 'c'])

In [75]:
s1

a    0
b    1
c    2
dtype: int64

In [76]:
index = s1.index

In [77]:
index

Index([u'a', u'b', u'c'], dtype='object')

In [73]:
index[0]

'a'

In [74]:
index[0] = u'd'

TypeError: Index does not support mutable operations

 Immutable тип позволяет различным структарам иметь общий индекс.

In [78]:
s2 = pd.Series([1.5, -2.5, 0], index=index)

In [79]:
s2.index is s1.index

True

In [80]:
index

Index([u'a', u'b', u'c'], dtype='object')

** Типы индексов **:

* Index, индекс общего назначения, когда индексируется dtype = np.object;
* Int64Index - целочисленный индекс;
* MultiIndex - вложенный иерархический индекс;
* DatetimeIndex - np.datetime64;
* PeriodIndex - индекс для временных периодов.

Для индекса доступны следующие методы:

In [78]:
index.unique()

Index([u'a', u'b', u'c'], dtype='object')

In [79]:
index.is_unique

True

In [80]:
index.is_monotonic

True

In [81]:
index.insert(5, u'd')

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [82]:
index

Index([u'a', u'b', u'c'], dtype='object')

In [83]:
index.drop(u'c')

Index([u'a', u'b'], dtype='object')

In [84]:
index

Index([u'a', u'b', u'c'], dtype='object')

In [85]:
index.append(index)

Index([u'a', u'b', u'c', u'a', u'b', u'c'], dtype='object')

In [86]:
index

Index([u'a', u'b', u'c'], dtype='object')

** Реиндексирование **

In [87]:
ser3 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [88]:
ser4 = ser3.reindex(['a', 'b', 'c', 'd', 'e'])

In [89]:
ser4

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [90]:
ser3.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

Иногда (особенно при работе с временными рядами), очень важно уметь заполнять пропущенные значения предшествующими:

In [81]:
ser4 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print ser4

0      blue
2    purple
4    yellow
dtype: object

In [82]:
ser4.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [83]:
ser4.reindex(range(6), method='bfill')

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

Столь же просто менять индекс объекта DataFrame:

In [84]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])

In [85]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [93]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [94]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [95]:
states = ['Texas', 'Utah', 'California']

In [97]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [98]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill', columns=states)

ValueError: index must be monotonic increasing or decreasing

Как уже отмечалось выше - булево индексирование аналогично numpy, за тем исключением, что вместо позиции в массиве мы получаем label.

In [99]:
ser3[ser3 > 0]

NameError: name 'ser3' is not defined

# 1.3. Работа со столбцами.

In [114]:
frame = pd.DataFrame(np.random.randn(4, 4), columns=(x for x in 'defg'), 
                  index=['F', 'S', 'T', 'R'])

Как вы уже поянли, никаких проблем с функцией, которая работает в numpy поэлементно, у нас не возникнет:

In [115]:
np.abs(frame)

          d         e         f         g
F  0.038938  0.677559  0.211309  1.123070
S  0.989541  0.188470  0.027689  0.451527
T  0.943151  0.479434  0.197243  0.820871
R  0.628089  0.978171  2.339255  0.463450

In [116]:
np.power(frame, 2)

          d         e         f         g
F  0.001516  0.459086  0.044651  1.261286
S  0.979192  0.035521  0.000767  0.203876
T  0.889533  0.229857  0.038905  0.673830
R  0.394496  0.956818  5.472113  0.214786

Однако, чаще нам нужно применить функцию к какому либо столбцу - например, почитать абсолютное значение, сконвертировать из ts в datetime итд.

In [117]:
new_format = lambda x: '%.2f' % x

In [118]:
frame.applymap(new_format)

       d      e      f      g
F  -0.04   0.68  -0.21  -1.12
S   0.99  -0.19   0.03  -0.45
T  -0.94  -0.48  -0.20   0.82
R   0.63   0.98   2.34   0.46

In [119]:
frame

          d         e         f         g
F -0.038938  0.677559 -0.211309 -1.123070
S  0.989541 -0.188470  0.027689 -0.451527
T -0.943151 -0.479434 -0.197243  0.820871
R  0.628089  0.978171  2.339255  0.463450

Для Series метод назывется map().

In [120]:
frame['e'].map(format)

F      0.67755881838
S    -0.188470124485
T     -0.47943374186
R     0.978170595867
Name: e, dtype: object

In [121]:
frame['e'] = frame['e'].map(lambda x: x ** 2)

In [122]:
frame

          d         e         f         g
F -0.038938  0.459086 -0.211309 -1.123070
S  0.989541  0.035521  0.027689 -0.451527
T -0.943151  0.229857 -0.197243  0.820871
R  0.628089  0.956818  2.339255  0.463450

Чтобы получить доступ к списку названий, достаточно обратиться к df.columns:

In [123]:
frame.columns

Index([u'd', u'e', u'f', u'g'], dtype='object')

Также полезно следующее:

In [124]:
df.dtypes

b    float64
d    float64
e    float64
dtype: object

Для сортировки по индексу стоит вызвать df.sort_index(), который возвращает копию исходного объекта:

In [127]:
frame.sort_index()

          d         e         f         g
F -0.038938  0.459086 -0.211309 -1.123070
R  0.628089  0.956818  2.339255  0.463450
S  0.989541  0.035521  0.027689 -0.451527
T -0.943151  0.229857 -0.197243  0.820871

In [114]:
frame.sort_index(axis=1, ascending=False)

          e         d         b
F  0.275105 -2.380679 -1.226942
S  5.061677  1.052599  0.485055
T  0.072697 -2.344839 -1.069882
R  0.196367  0.320138 -1.239669

Чтобы отсортировать по значению столбцов:

In [115]:
frame.sort_index(by=['d', 'b'])

/Users/vladfedorenko/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

          b         d         e
F -1.226942 -2.380679  0.275105
T -1.069882 -2.344839  0.072697
R -1.239669  0.320138  0.196367
S  0.485055  1.052599  5.061677

In [116]:
frame.sort_values(by=['d', 'b'])

          b         d         e
F -1.226942 -2.380679  0.275105
T -1.069882 -2.344839  0.072697
R -1.239669  0.320138  0.196367
S  0.485055  1.052599  5.061677

Также значениям можно присвоить ранг:

In [132]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [133]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

# 1.4. File I/O.

http://pandas.pydata.org/pandas-docs/stable/io.html

Как видно из оффициальной документации (выше), в качестве входного формата могут использоваться следующие:
* read_csv
* read_excel
* read_hdf
* read_sql
* read_json
* read_msgpack (experimental)
* read_html
* read_gbq (experimental)
* read_stata
* read_sas
* read_clipboard
* read_pickle

Каждый из них снабжен "зеркальным" методом "to".

Думаю, что чаще всего вас придется пользоваться методом "read_csv". Подробная сигнатура:

In [134]:
pd.read_csv?

In [1]:
data = pd.read_csv('movie_metadata.csv')

SyntaxError: invalid syntax (<ipython-input-1-e13525228ba2>, line 1)

In [3]:
data.columns

NameError: name 'data' is not defined

In [122]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000
15,Color,Zack Snyder,733.0,143.0,0.0,748.0,Christopher Meloni,15000.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,...,2536.0,English,USA,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000
16,Color,Andrew Adamson,258.0,150.0,80.0,201.0,Pierfrancesco Favino,22000.0,141614023.0,Action|Adventure|Family|Fantasy,...,438.0,English,USA,PG,225000000.0,2008.0,216.0,6.6,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
18,Color,Rob Marshall,448.0,136.0,252.0,1000.0,Sam Claflin,40000.0,241063875.0,Action|Adventure|Fantasy,...,484.0,English,USA,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000
19,Color,Barry Sonnenfeld,451.0,106.0,188.0,718.0,Michael Stuhlbarg,10000.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,...,341.0,English,USA,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000
20,Color,Peter Jackson,422.0,164.0,0.0,773.0,Adam Brown,5000.0,255108370.0,Adventure|Fantasy,...,802.0,English,New Zealand,PG-13,250000000.0,2014.0,972.0,7.5,2.35,65000
21,Color,Marc Webb,599.0,153.0,464.0,963.0,Andrew Garfield,15000.0,262030663.0,Action|Adventure|Fantasy,...,1225.0,English,USA,PG-13,230000000.0,2012.0,10000.0,7.0,2.35,56000
22,Color,Ridley Scott,343.0,156.0,0.0,738.0,William Hurt,891.0,105219735.0,Action|Adventure|Drama|History,...,546.0,English,USA,PG-13,200000000.0,2010.0,882.0,6.7,2.35,17000
23,Color,Peter Jackson,509.0,186.0,0.0,773.0,Adam Brown,5000.0,258355354.0,Adventure|Fantasy,...,951.0,English,USA,PG-13,225000000.0,2013.0,972.0,7.9,2.35,83000
24,Color,Chris Weitz,251.0,113.0,129.0,1000.0,Eva Green,16000.0,70083519.0,Adventure|Family|Fantasy,...,666.0,English,USA,PG-13,180000000.0,2007.0,6000.0,6.1,2.35,0
25,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,919.0,7.2,2.35,0
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
27,Color,Anthony Russo,516.0,147.0,94.0,11000.0,Scarlett Johansson,21000.0,407197282.0,Action|Adventure|Sci-Fi,...,1022.0,English,USA,PG-13,250000000.0,2016.0,19000.0,8.2,2.35,72000
28,Color,Peter Berg,377.0,131.0,532.0,627.0,Alexander Skarsgård,14000.0,65173160.0,Action|Adventure|Sci-Fi|Thriller,...,751.0,English,USA,PG-13,209000000.0,2012.0,10000.0,5.9,2.35,44000
29,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,...,1290.0,English,USA,PG-13,150000000.0,2015.0,2000.0,7.0,2.00,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,Color,Eric Eason,28.0,79.0,3.0,42.0,Panchito Gómez,93.0,NaN,Drama|Family,...,21.0,English,USA,NaN,24000.0,2002.0,46.0,7.0,1.78,61
5014,Color,Uwe Boll,58.0,80.0,892.0,492.0,Katharine Isabelle,986.0,NaN,Action|Crime|Thriller,...,129.0,English,Canada,R,NaN,2009.0,918.0,6.3,2.35,0
5015,Black and White,Richard Linklater,61.0,100.0,0.0,0.0,Richard Linklater,5.0,1227508.0,Comedy|Drama,...,80.0,English,USA,R,23000.0,1991.0,0.0,7.1,1.37,2000
5016,Color,Joseph Mazzella,NaN,90.0,0.0,9.0,Mikaal Bates,313.0,NaN,Crime|Drama|Thriller,...,2.0,English,USA,NaN,25000.0,2015.0,25.0,4.8,NaN,33
5017,Color,Travis Legge,1.0,90.0,138.0,138.0,Suzi Lorraine,370.0,NaN,Comedy|Romance,...,3.0,English,USA,NaN,22000.0,2013.0,184.0,3.3,1.78,200
5018,Color,Alex Kendrick,5.0,120.0,589.0,4.0,Lisa Arnold,51.0,NaN,Drama,...,49.0,English,USA,NaN,20000.0,2003.0,49.0,6.9,1.85,725
5019,Color,Marcus Nispel,43.0,91.0,158.0,265.0,Brittany Curran,630.0,NaN,Horror|Mystery|Thriller,...,33.0,English,USA,R,NaN,2015.0,512.0,4.6,1.85,0
5020,NaN,Brandon Landers,NaN,143.0,8.0,8.0,Alana Kaniewski,720.0,NaN,Drama|Horror|Thriller,...,8.0,English,USA,NaN,17350.0,2011.0,19.0,3.0,NaN,33
5021,Color,Jay Duplass,51.0,85.0,157.0,10.0,Katie Aselton,830.0,192467.0,Comedy|Drama|Romance,...,71.0,English,USA,R,15000.0,2005.0,224.0,6.6,NaN,297
5022,Black and White,Jim Chuchu,6.0,60.0,0.0,4.0,Olwenya Maina,147.0,NaN,Drama,...,1.0,Swahili,Kenya,NaN,15000.0,2014.0,19.0,7.4,NaN,45
5023,Color,Daryl Wein,22.0,88.0,38.0,211.0,Heather Burns,331.0,76382.0,Romance,...,8.0,English,USA,NaN,15000.0,2009.0,212.0,6.2,2.35,324
5024,Color,Jason Trost,42.0,78.0,91.0,86.0,Jason Trost,407.0,NaN,Sci-Fi|Thriller,...,35.0,English,USA,Unrated,20000.0,2011.0,91.0,4.0,2.35,835
5025,Color,John Waters,73.0,108.0,0.0,105.0,Mink Stole,462.0,180483.0,Comedy|Crime|Horror,...,183.0,English,USA,NC-17,10000.0,1972.0,143.0,6.1,1.37,0
5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
5028,Black and White,Ivan Kavanagh,12.0,83.0,18.0,0.0,Michael Parle,10.0,NaN,Horror,...,1.0,English,Ireland,NaN,10000.0,2007.0,5.0,6.7,1.33,105
5029,Color,Kiyoshi Kurosawa,78.0,111.0,62.0,6.0,Anna Nakagawa,89.0,94596.0,Crime|Horror|Mystery|Thriller,...,50.0,Japanese,Japan,NaN,1000000.0,1997.0,13.0,7.4,1.85,817
5030,Color,Tadeo Garcia,NaN,84.0,5.0,12.0,Michael Cortez,21.0,NaN,Drama,...,3.0,English,USA,NaN,NaN,2004.0,20.0,6.1,NaN,22
5031,Color,Thomas L. Phillips,13.0,82.0,120.0,84.0,Joe Coffey,785.0,NaN,Comedy|Horror|Thriller,...,8.0,English,USA,NaN,200000.0,2012.0,98.0,5.4,16.00,424
5032,Color,Ash Baron-Cohen,10.0,98.0,3.0,152.0,Stanley B. Herman,789.0,NaN,Crime|Drama,...,14.0,English,USA,NaN,NaN,1995.0,194.0,6.4,NaN,20
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

** СЗ 1 **:
- перевести поле duration в часы;
- создать словарь {dtype: имя\_переменной};
- создать новый df, где индекс - это фамилия режиссера (предположим, что у режиссера фамилия всегда с позиции 1 в name.split(' ', 1)).

In [ ]:
data.

Записать получившийся результат можно следующим образом:

In [123]:
data.to_csv?

In [140]:
from sys import stdin
get = input().split()
get

23 53 '\n'

SyntaxError: invalid syntax (<string>, line 1)